@charset "UTF-8";

/* Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;

    /* Color Palette */
    --eerieBlack: #1E1E1E;
    --jet: #323238;
    --cerulean: #02799D;
    --frenchGray: #C4C4CC;
    --platinum: #E1E1E6;
}

/* Body */
body {
    background: var(--eerieBlack);
}

/* Main */
main {
    max-width: 32rem;
    margin: 0 auto;
    padding: 4.0rem 5.0rem;
}
/* Header */
header h1 {
    font-size: 3.1rem;
    font-weight: 900;
    color: var(--cerulean);
    margin-bottom: .8rem;
}

header p {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--platinum);
}

/* Galaxies */
.galaxies {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 4rem;
}

/* Card */
.card {
    max-width: 26rem;
    border: 1px solid var(--jet);
    border-radius: .8rem;
    overflow: hidden;
}

.card h2 {
    font-size: 2.8rem;
    font-weight: 900;
    color: var(--platinum);
    padding: 2.4rem;
}

.card p {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--frenchGray);
    padding: 0 2.3rem 3.8rem;
}

/* Mobile Screen 425px */
@media (min-width: 425px) {
    main {
        min-width: 40.5rem;
    }

    header h1 {
        font-size: 3.5rem;
    }

    header p {
        font-size: 2.6rem;
    }

    .card {
        max-width: 30rem;
    }

    .card h2 {
        font-size: 3.2rem;
        padding: 2.8rem;
    }
    
    .card p {
        font-size: 2.0rem;
        padding: 0 2.7rem 4.2rem;
    }
}

/* Mobile Screen 768px */
@media (min-width: 768px) {
    main {
        max-width: 52rem;
    }

    header h1 {
        font-size: 4rem;
    }

    header p {
        font-size: 3rem;
    }

    .card {
        max-width: 52rem;
    }

    .card img {
        width: 41.8rem;
    }

    .card h2 {
        font-size: 3.6rem;
        padding: 3.2rem;
    }

    .card p {
        font-size: 2.4rem;
        padding: 0 3.1rem 4.6rem;
    }
}

/* Mobile/Laptop Screen 1440px */
@media (min-width: 1440px) {
    main {
        max-width: 133rem;
    }
    
    header h1 {
        width: 58.5rem;
        font-size: 5.8rem;
    }

    header p {
        font-size: 3.2rem;
    }

    .galaxies {
        display: grid;
        place-content: center;
        grid-template-columns: repeat(3, 37.0rem);
        gap: 48px 60px;
    }
}